@model IEnumerable<InstaMedData.Models.Test>

@{
    ViewData["Title"] = "Index";
}

<h2>Badania</h2>

<p>
    <a asp-action="Create">Dodaj Badanie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Typ
            </th>
            <th>
                Rodzaj
            </th>
            <th>
                Cena
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.testTypeCategory.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.testTypeName.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>
