@model InstaMedData.Models.Estrogen

@{
    ViewData["Title"] = "EstrogenDetails";
}
<br /><br />
<h2>Wynik badania estrogenu</h2>
<br />

<p style="font-size: 18px; display: inline">  Estrogeny: </p>

<p style="font-weight: bold; display: inline; font-size: 18px">@Html.DisplayFor(model => model.EstrogenResult)</p> &nbsp; <p style="display: inline; color: seagreen; font-weight: bold">37.02 - 330</p>


<br />
<p style="font-size: 18px; display: inline">  Pracownik zatwierdzający badanie: </p>

<p style="font-weight: bold; display: inline; font-size: 18px"> @Html.DisplayFor(model => model.DocName) </p>

<footer>
    <br /> <br />
    <b>Uwaga!</b> Zakresy referencyjne nie są jednoznaczne i mogą się różnic w zależności od prezycji urządzenia pomiarowego. Jeżli wynik wygląda <br /> niepokojąco zalecamy bezwłoczny kontakt z lekarzem, jeżeli natomiast wynik wydaje
    się być zupełnie oderwany od rzeczywistośći <br /> zachęcamy do kontaktu z kliniką w celu potwierdzenia nieprawidłowisci.

    <br /> <br />
    <b>Kontakt: </b><br />
    tel: 111-222-333 <br />
    tel: 222-333-444 <br />
    e-mail: instamed@test.pl
</footer>
