@model InstaMedData.Models.Krzywa

@{
    ViewData["Title"] = "Krzywa";
}

<h2>Badanie Krzywej Cukrowej</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Pierwszy pomiar:
                <input asp-for="FirstGlu" class="form-control" />
                <span asp-validation-for="FirstGlu" class="text-danger"></span>
            </div>
            <div class="form-group">
                Drugi pomiar:
                <input asp-for="SecondGlu" class="form-control" />
                <span asp-validation-for="SecondGlu" class="text-danger"></span>
            </div>
            <div class="form-group">
                Trzeci pomiar:
                <input asp-for="ThirdGlu" class="form-control" />
                <span asp-validation-for="ThirdGlu" class="text-danger"></span>
            </div>
            <div class="form-group">
                Pracownik zatwierdzający badanie:
                <input asp-for="DocName" class="form-control" />
                <span asp-validation-for="DocName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isKrzywa" /> Czy badanie zostało wykonane poprawnie?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wracaj do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
