@model InstaMedData.Models.Szpik

@{
    ViewData["Title"] = "Szpik";
}

<h2>Badanie szpiku:</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Erytropoeza" class="control-label"></label>
                <input asp-for="Erytropoeza" class="form-control" />
                <span asp-validation-for="Erytropoeza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proerytroblasty" class="control-label"></label>
                <input asp-for="Proerytroblasty" class="form-control" />
                <span asp-validation-for="Proerytroblasty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Erytroblasty" class="control-label"></label>
                <input asp-for="Erytroblasty" class="form-control" />
                <span asp-validation-for="Erytroblasty" class="text-danger"></span>
            </div>
            <div class="form-group">
                Pracownik zatwierdzający badanie:
                <input asp-for="DocName" class="form-control" />
                <span asp-validation-for="DocName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isSzpik" /> Czy badanie zostało wykonane poprawnie?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wracaj do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
