@model InstaMedData.Models.TSH

@{
    ViewData["Title"] = "TSHDetails";
}
<br /> <br />
<h2>Wynik badania TSH</h2>
<br />

<p style="font-size: 18px; display:inline"> Wynik TSH: </p>

<p style="font-weight: bold; display: inline; font-size: 18px"> @Html.DisplayFor(model => model.TSHResult)</p> &nbsp; <p style="display: inline; color: seagreen; font-weight: bold">0.27 - 4.12</p>
<br>
<p style="font-size: 18px; display: inline">  Pracownik zatwierdzający badanie: </p>

<p style="font-weight: bold; display: inline; font-size: 18px"> @Html.DisplayFor(model => model.DocName) </p>

<footer>
    <br /> <br />
    <b>Uwaga!</b> Zakresy referencyjne nie są jednoznaczne i mogą się różnic w zależności od prezycji urządzenia pomiarowego. Jeżli wynik wygląda <br /> niepokojąco zalecamy bezwłoczny kontakt z lekarzem, jeżeli natomiast wynik wydaje
    się być zupełnie oderwany od rzeczywistośći <br /> zachęcamy do kontaktu z kliniką w celu potwierdzenia nieprawidłowisci.

    <br /> <br />
    <b>Kontakt: </b><br />
    tel: 111-222-333 <br />
    tel: 222-333-444 <br />
    e-mail: instamed@test.pl
</footer>
