@{
    ViewData["Title"] = "About";
}
<br /><br />
<h2>Poznajmy się!</h2>
<br />

<p style="padding-bottom: 20px; text-justify: distribute-all-lines">
    Już od 25 lat dbamy o zdrowie naszych Pacjentów. Każdego dnia dokładamy wszelkich starań, aby osoby znajdujące się pod naszą opieką były zadowolone ze świadczonych przez nas usług, czuły się bezpiecznie i wiedziały, że mogą liczyć na pomoc i poradę doświadczonych specjalistów.
    Dzięki zaufaniu okazywanemu nam przez Pacjentów przez te wszystkie lata, dzięki naszej codziennej pracy wykonywanej profesjonalnie i z zaangażowaniem dziś Grupa InstaMed może poszczycić się mianem lidera prywatnych usług medycznych w Polsce. Pod naszą opieką znajduje się ponad 1 700 000 Pacjentów, którzy mogą korzystać z naszych usług w przeszło 1700 nowocześnie wyposażonych placówkach (blisko 200 własnych oraz około 1600 współpracujących zlokalizowanych na terenie całego kraju). Do dyspozycji Pacjentów pozostaje blisko 5000 lekarzy kilkudziesięciu specjalności.
</p>
<br />
<img style="padding-left: 300px" src="~/images/about.png" />