@model IEnumerable<InstaMedData.Models.News>
@using InstaMedService;
@using InstaMedApp.Extensions;

@{
    ViewData["Title"] = "Start";
}
<br />
<h1>Aktualności</h1>
<br />
@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="col-md-4" style="padding-left: 80px; padding-top: 20px">
            <img style="" src="~/uploads/img/@Html.DisplayFor(modelItem => item.ImageName)" />
        </div>

        <div class="col-md-8" style="padding-left: -80px; position: relative">
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <p>@Html.DisplayFor(modelItem => item.BodyText)</p>
        </div>
    </div>
    <br /> <hr style="color:brown; opacity: 1.6; font-weight: bold" /> <br />
}

